{
    "bracketSameLine": true,
    "tabWidth": 4,
    "proseWrap": "preserve",
    "singleAttributePerLine": false,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "always",
    "printWidth": 80,
    "trailingComma": "none"
}
